# compiled output
.vscode
node_modules
node_modules_backup

# code formatter
.editorconfig
.eslintignore
.eslintrc
.git
.gitignore
.huskyrc
.lintstagedrc.json
.prettierignore
.prettierrc
# .env // WHEN DEV IS COMPLETED, THEN UNCOMMENT THIS .env

# test
jest.config.js

# docker
Dockerfile
docker-compose.yml
